
<div class="container">
  <div class="card">
    <h1>Stupid Coaching</h1>
    <h3>Ask your coach anything</h3>

    <form class="form" action="answer" data-turbo="false">
      <input class="input" type="text" name="question">
      <input class="btn btn-primary" type="submit" value="Ask!">
    </form>
  </div>
</div>
